.container {
  margin: 5% 10%;
  border: 5px red solid;
  border-radius: 40px;
}

.title {
  font-family: Arial, Tahoma, sans-serif;
  color: #8d0aff;
  text-align: center;
  font-size: 4.5em;
}

.text {
  letter-spacing: 6px;
}

.block {
  margin-left: auto;
  margin-right: auto;
  margin: 2% 5%;
  font-family: Arial, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 3em;
  display: block;
}

a {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 5px solid #8d0aff ;
  padding: 1% 2%;
  border-radius: 10px;
}
